$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$cyan: hsl(192, 100%, 9%);
$light-cyan: rgba(0, 37, 46, 0.55);
$light-gray: rgb(178, 185, 192);
$medium-gray: rgb(196, 195, 195);
$pale-blue: hsl(207, 100%, 98%);